/*----------> NAV  */


/* NAV BOTAO FOOTER QUANDO TIVER EM MOBILE */

@media screen and (max-width:600px) {
    .NavbuttonHidderFooter {
        bottom: 0;
        position: fixed;
        align-items: center;
        right: 1px;
        left: 1px;
        width: 100%;
    }
}